*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* -------------------HEADER--------------- */
.header {
    max-width: 1300px;
height: 50px;
margin: 0 auto;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

&__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}
&__left-nav {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

&__left-nav-link {
    color: var(--base-text-secondary, #1E1E1E);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
text-shadow: 3px 5px 8px #000000e4;
transition: 0.2s;
}

    &__left-nav-link:hover{
        transform: translateY(-5px);
    }

&__right-btn{
    padding: 5px 20px;
    border-radius: 1px;
    background: var(--global-primary, #2E4FD7);
    color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.25px;
box-shadow: 0px 0px 12px #2e50d7e2;
cursor: pointer;
transition: 0.2s;
}

&__right-btn:hover{
    padding: 3px 15px;
    box-shadow:0px 0px 12px #191919e2;
    background-color: #1E1E1E;
}
}

/* --------------CONATAINER 1------------------ */
.container1{
    width: 100%;
    height: 690px;
    background: var(--base-bg-secondary, #E7EBFC);

    &__inside{
        max-width: 940px;
        height: 630px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin-left: 120px;
        overflow: hidden;
    }

    &__inside-title{
        max-width: 923px;
        color: var(--base-text-primary, #191919);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: 72px; /* 112.5% */
letter-spacing: -1.16px;
text-transform: capitalize;
transform: translateX(-900px);
animation: title 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }

    &__inside-descr{
        max-width: 900px;
        color: #000;
font-family: Inter;
font-size: 24px;
font-style: italic;
font-weight: 400;
line-height: 34px; /* 141.667% */
letter-spacing: -0.43px;
transform: translateX(-1200px);
animation: descr 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }

    &__inside-women{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translateX(-1400px);
        animation: women 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }

    &__inside-women-img{
        width: 90px;
    }

    &__inside-women-info{
        width: 170px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    &__inside-women-info-name{
        color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
letter-spacing: -0.32px;
    }

    &__inside-women-info-job{
        color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

    &__inside-button{
        padding: 15px 25px;
        border-radius: 1px;
background: var(--global-primary, #2E4FD7);
box-shadow: 0px 0px 12px #2e50d7d1;
color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
cursor: pointer;
transform: translateX(-1400px);
animation: button 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    }
}

@keyframes title{
    0%{
        transform: translateX(-900px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes descr{
    0%{
        transform: translateX(-1200px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes button{
    0%{
        transform: translateX(-1400px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes women{
    0%{
        transform: translateX(-1400px);
    }
    100%{
        transform: translateX(0);
    }
}
/* -----------CONTAINER 2----------------- */

.container2-2{
    width: 100%;
    height: 400px;
    background: var(--global-primary, #2E4FD7);

    &__inside-txt{
        max-width: 800px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 70px;
    }

    &__inside-txt-title{
        max-width: 730px;
        color: var(--base-text-on-dark, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 123.81% */
letter-spacing: -0.76px;
text-align: center;
    }

    &__inside-txt-descr{
        max-width: 730px;
        text-align: center;
        color: var(--base-text-on-dark, #FFF);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.36px;
padding-top: 15px;
    }

    &__inside-stats{
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 100px auto;
    }

    &__inside-stats-number{
        width: 255px;
        color: var(--base-text-on-dark, #FFF);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 62px; /* 119.231% */
letter-spacing: -0.94px;
    }

    &__inside-stats-descr{
        width: 255px;
        color: var(--base-text-on-dark, #FFF);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 155.556% */
letter-spacing: -0.32px;
    }
}

/* -------------------------CONTAINER 3-------------------- */
.container3-2{
    width: 100%;
    height: 600px;
    background-color: #FFF;

    &__inside{
        justify-content: space-between;
        align-content:start ;
        display: flex;
        flex-direction: row;
        margin: 90px auto;
        width: 1200px;
    }

    &__inside-left{
        max-width: 400px;
        height: 500px;
        background-image: url(./images/Group\ 15.png);
        position: relative;
    }

    &__inside-left-txt{
        position: absolute;
        left: 28px;
        bottom: 30px;
        width: 195px;
        color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.36px;
    }

    &__inside-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 395px;
    }

    &__inside-right-title{
        max-width: 635px;
        color: var(--base-text-primary, #191919);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 62px; /* 119.231% */
letter-spacing: -0.94px;
    }

    &__inside-right-descr{
        max-width: 635px;
        color: var(--base-text-secondary, #1E1E1E);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: -0.36px;
    }
}

/* --------------------CONTAINER 4---------------- */
.container4-2{
    width: 100%;
    height: 700px;
    background-color: #FFF;

    &__inside{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__inside-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 550px;
    }

    &__inside-left-row{
        max-width: 550px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__inside-left-row-left-icon{
        width: 45px;
    }

    &__inside-left-row-left-title{
        color: var(--base-text-primary, #191919);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
letter-spacing: -0.36px;
    }

    &__inside-left-row-left-descr{
        width: 255px;
        color: var(--base-text-secondary, #1E1E1E);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

    &__inside-right{
        max-width: 500px;
        height: 617px;
        background-image: url(./images/Rectangle\ \(3\).png);
    }
}

/* -----------------------CONTAINER 5--------------------- */

.container5-2 {
    width: 100%;
    height: 750px;
    background-color: #FFF;

    &__block{
        margin: 0 auto;
        max-width: 1110px;
    height: 600px;
    border-radius: 3px;
    border-radius: 3px;
background: var(--base-bg-secondary, #E7EBFC);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateY(60px);
    }

    &__block-left{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding-left: 45px;
    }

    &__block-left-title{
        max-width: 572px;
        color: var(--base-text-primary, #191919);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 123.81% */
letter-spacing: -0.76px;
    }

    &__block-left-descr{
        max-width: 588px;
        color: var(--base-text-secondary, #1E1E1E);
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 52px; /* 123.81% */
letter-spacing: -0.76px;
    }

    &__block-left-logo-btn{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    &__block-left-logo{
        width: 105px;
    }

    &__block-left-btn{
        color: var(--global-primary, #2E4FD7);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

    &__block-left-slider{
        width: 26px;
    }
}

/* ------------------------CONTAINER 6-------------------- */
.container6-2{
    width: 100%;
    height: 400px;
    background-color: #FFF;

    &__inside{
        transform: translateY(-60px);
        max-width: 1200px;
        height: 500px;
        margin: 60px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    &__inside-title{
        max-width: 730px;
        color: var(--text-gray-900, #18191F);
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 123.81% */
letter-spacing: -0.76px;
    }

    &__inside-blocks{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: translateX(30px);
    }

    &__inside-blocks-item-icon{
        width: 220px;
    }

    &__inside-blocks-item-title{
        width: 318px;
        color: var(--text-gray-900, #18191F);
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 34px; /* 141.667% */
letter-spacing: -0.43px;
    }


    &__inside-blocks-item-descr{
        width: 318px;
        color: var(--text-gray-900, #18191F);
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

}

/* -------------------------CONTAINER 7--------------------- */
.container7{
    width: 100%;
    height: 600px;
    background: var(--base-bg-secondary, #E7EBFC);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    &__title{
        max-width: 920px;
        color: var(--base-text-primary, #191919);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Inter;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 62px; /* 119.231% */
        letter-spacing: -0.94px;
    }

    &__descr{
        max-width: 825px;
        color: var(--base-text-secondary, #1E1E1E);
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        letter-spacing: -0.32px;
    }

    &__btn{
        padding: 15px 25px;
        border-radius: 1px;
background: var(--global-primary, #2E4FD7);
color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
box-shadow: 0px 0px 12px #2e50d7e2;
cursor: pointer;
transition: 0.2s;
    }

    &__btn:hover{
        padding: 13px 20px;
        box-shadow:0px 0px 12px #191919e2;
        background-color: #191919;
    }

    &__line{
        max-width: 1110px;
height: 2px;
background: var(--base-boarder, #B4B4B4);
    }

    &__logos{
        max-width: 942px;
    }
}

/* ------------------------FOOTER ------------------ */
.footer {
    width: 100%;
    height: 400px;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #052825;

/* -------------ROW---1----------------------- */

    &__block-row1{
        max-width: 1370px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__block-row1-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        height: 180px;
    }

    &__block-row1-left-logo{
        color: var(--base-text-on-dark, #FFF);
font-family: Leifa;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 24px */
    }

    &__block-row1-left-title{
        color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
letter-spacing: -0.32px;
    }

    &__block-row1-left-descr{
        max-width: 423px;
        color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

    &__block-row1-left-btn{
        color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
letter-spacing: -0.29px;
    }

    &__block-row1-right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
    }

    &__block-row1-right-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        max-width: 530px;
    }

    &__block-row1-right-top-links{
        color: var(--base-text-on-dark, #000);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.29px;
        transition: 0.3s;
        padding: 0 5px;
    }

    &__block-row1-right-top-links:hover{
        transform: translateY(-4px);
    }

    &__block-row1-right-bottom{
        max-width: 470px;
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

    &__block-row1-right-bottom-links{
        color: var(--base-text-on-dark, #000);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px; /* 162.5% */
        letter-spacing: -0.29px;
        cursor: pointer;
        transition: 0.2s;
        padding: 0 5px;
    }

    &__block-row1-right-bottom-links:hover{
        transform: translateY(-4px);
    }

    &__line{
        margin: 0 auto;
        max-width: 1170px;
        height: 1.4px;
        opacity: 0.08;
        background: var(--base-text-on-dark, #FFF);
    }

    /* ------------------ROW-----2---------- */

    &__block-row2{
        max-width: 1370px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__block-row2-txt-left{
        max-width: 400px;
        color: var(--base-text-on-dark, #FFF);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.25px;
    }

    &__block-row2-txt-right{
        color: var(--base-text-on-dark, #FFF);
text-align: right;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 22px; /* 157.143% */
letter-spacing: -0.25px;
padding-left: 200px;
    }
}




/* ADAPTIVE */
@media (max-width: 1199px) {
    .container{
        padding: 0 20px;
    }

    .container2{
        padding: 0 20px;
    }
}
/* ------------------------------------------------------------- */
@media (max-width:1160px){
    .container__block-right-img{
        display: none;
    }
    .container__block-left{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    .container__block-left-descr{
        text-align: center;
    }
    .container__block-left-title{
        text-align: center;
    }
    .container__block-left-buttons{
        width: 450px;
        margin: 0 auto;
    }
    .container__block-left-buttons-btn{
        margin: 0 auto;
    }
    .container__block-left-logos{
        display: block;
        margin: 0 auto;
    }


    .container2__block-right-img{
        width: 350px;
    }

    .container3__title{
        margin: 0 auto;
    }

    .container3__blocks-row1{
        margin: 0 auto;
        max-width: 900px;
    }

    .container3__blocks-row2{
        margin: 0 auto;
        max-width: 900px;
    }

    .container4__block{
        max-width: 900px;
        margin: 0 auto;
    }

    .container4__block-right-img{
        display: none;
    }

    .container5__title{
        margin: 0 auto;
    }

    .container5__blocks{
        margin: 0 auto;
    }
    .container5__blocks-item{
        width: 230px;
    }
    .container5__item-descr{
        width: 180px;
    }

    .container6{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin: 0 auto;
    }
    .container6__title{
        margin: 0 auto;
    }
    .container6__descr{
        margin: 0 auto;
    }
    .container6__btn{
        margin: 0 auto;
    }
    .container6__logos{
        display: block;
        margin: 0 auto;
        width: 700px;
    }
    .container6__line{
        display: none;
    }

    .footer__block-row1{
        margin-left: 40px;
    }
    .footer__block-row1-right-bottom-links{
        padding: 0 5px;
    }
    .footer__block-row1-right-top-links{
        padding: 0 5px;
    }
    .footer__block-row2{
        margin-left: 40px;
    }
    .footer__block-row2-txt-right{
        padding-left: 20px;
    }
}


/* Стилі для середніх екранів (дисплей максимум 991рх) */
    @media (max-width: 991px) {
        .header__left-nav{
            padding-left: 20px;
        }
        .header__right{
            padding-right: 40px;
        }

        .container__block-left-descr{
            text-align: center;
        }
        .container__block-left-title{
            text-align: center;
        }
        .container__block-left-buttons{
            width: 450px;
        }
        .container__block-left-buttons-btn{
            margin: 0 auto;
        }
        
        .container2__block-left-txt-title{
            text-align: center;
        }
        .container2__block-left-statistics{
            margin: 0 auto;
        }

        .container3__blocks-row1{
            max-width: 670px;
        }
        .container3__blocks-row2{
            max-width: 670px;
        }
        .container3__blocks-row1-item-descr{
            width: 200px;
        }

        .container4__block{
            width: 700px;
        }
        
        .container5__title{
            width: 620px;
            font-size: 38px;
        }
        .container5__blocks{
            width: 700px;
            margin: 0 auto;
        }
        .container5__blocks-item{
            width: 200px;
        }
        .container5__item-title{
            width: 95px;
        }
        .container5__item-descr{
            width: 100px;
        }

        .container6__title{
            max-width: 700px;
    font-size: 40px;
        }
        .container6__descr{
            max-width: 550px;
            margin: 0 auto;
        }
        .container6__btn{
            margin: 0 auto;
        }
        .container6__logos{
            margin: 0 auto;
        }

        .footer__block-row1{
            margin-left: 10px;
        }
        .footer__block-row2{
            margin-left: 10px;
        }
        .footer__block-row1-left{
            width: 300px;
        }
}


/* Стилі для малих екранів (дисплей максимум 767рх) */
    @media (max-width: 767px) {
        .header__right-btn{
            display: none;
        }

        .container__block-left-buttons-txt{
            display: none;
        }


        .container2__block-left{
            margin-left: 0px;
            margin-bottom: 120px;
        }
        .container2__block-right{
            display: none;
        }

        .container3__blocks{
            max-width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            transform: translateY(-70px);
            margin: 0 auto;
        }
        .container3__blocks-row1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
        }
        .container3__blocks-row2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
        }
        .container3__blocks-row1-item-descr{
            width: 200px;
        }

        .container4__block{
            width: 620px;
            transform: translateY(140px);
            margin-left: 10px;
        }

        .container5__title{
            width: 550px;
        }
        .container5__item-icons{
            display: none;
        }
        .container5__blocks{
            display: flex;
            flex-direction: row;
            align-items: start;
            width: 600px;
        }
        .container5__item-descr{
            width: 120px;
        }

        
        .container6__title{
            width: 550px;
        }
        .container6__descr{
            margin: 0 auto;
        }
        .container6__btn{
            margin: 0 auto;
        }
        .container6__logos{
            display: none;
        }

        .footer__block-row1-right{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 270px;
        }
        .footer__block-row1-right-bottom{
            display: flex;
            flex-direction: column;
            justify-content:space-between ;
            align-items: center;
            padding: 7px 10px;
        }
        .footer__block-row1-right-top{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 6px 6px;
        }
        .footer__block-row1-right-top-links:nth-child(5){
            display: none;
        }
}

@media (max-width: 645px){
    .container3__blocks{
        width: 500px;
    }

    .container4__block{
        width: 550px;
    }

    .container5__blocks{
        width: 500px;
        flex-wrap: wrap;
    }
    .container5__blocks-item{
        padding-top: 6px;
    }
    .container5__title{
        width: 500px;
    }

    .footer{
        height: 450px;
    }
    .footer__block-row1{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer__block-row1-right{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 10px;
    }
    .footer__block-row1-right-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    .footer__block-row1-right-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 500px;
    }
    .footer__block-row2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
    }
    .footer__block-row2-txt-right{
        padding-top: 10px;
    }
}

@media (max-width: 617px) {
    .header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .header__left-nav{
        width: 180px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header__left{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 400px;
    }
    .header:nth-child(1){
        display: none;
    }
    .header:nth-child(2){
        display: block;
    }
    .header__right-btn{
        display: none;
    }
}
/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
    @media (max-width: 575px) { 
        .container__block-left-title{
            margin: 0 auto;
        }

        .header__left-nav{
            display: none;
        }
        .header__left-logo{
            margin: 0 auto;
        }
        .container__block-left-title{
            font-size: 40px;
            font-weight: 700;
            width: 300px;
        }
        .container__block-left-buttons{
            width: 350px;
        }
        .container__block-left-logos{
            display: none;
        }

        .container2__block-left{
            width: 370px;
        }
        .container2__block-left-txt-descr{
            font-size: 19px;
            width: 300px;
            text-align: center;
        }
        .container2__block-left-statistics1-number{
            width: 60px;
            height: 50px;
        }
        .container2__block-left-statistics1-descr{
            font-size: 16px;
            width: 190px;
        }

        .container3__title{
            text-align: center;
        }
        .container3__blocks-row1-item{
            width: 200px;
        }
        .container3__blocks{
            display: flex;
            flex-direction: row;
            width: 300px;
            
        }
        .container3__blocks-row1-item{
            width: 170px;
        }
        .container3__blocks-row1-item-icon{
            display: none;
        }
        .container3__blocks-row1-item-descr{
            width: 150px;
        }

        .container4__block{
            width: 380px;
            margin: 0px auto;
            transform: translateY(180px);
        }
        .container4__block-left-title{
            font-size: 35px;
            font-weight: 600;
            width: 240px;
        }
        .container4__block-left-descr{
            font-size: 22px;
            font-weight: 500;
            width: 245px;
        }
        .container4__block-left-slider{
            display: none;
        }

        .container5__title{
            width: 320px;
            font-size: 25px;
            padding-top: 170px;
            
        }
        .container5__blocks{
            width: 340px;
        }
        .container5__blocks-item:nth-child(4){
            display: none;
        }

        .container6{
            height: 600px;
        }
        .container6__title{
            margin: 50px auto;
            width: 360px;
            font-size: 25px;
            padding-top: 80px;
        }
        .container6__descr{
            font-size: 16px;
            width: 350px;
            margin: 0 auto;
        }
        .container6__btn{
            margin: 0 auto;
        }

        .footer__block-row1-right-top{
            width: 310px;
        }
        .footer__block-row1-right-top-links:nth-child(5){
            display: none;
        }
        .footer__block-row1-right-top-links:nth-child(4){
            display: none;
        }
        .footer__block-row1-right-bottom{
            width: 310px;
        }
        .footer__block-row1-right-bottom-links:nth-child(5){
            display: none;
        }
    }

@media (max-width:411px){
    .header__left{
        width: 350px;
    }

    .container__block-left{
        height: 700px;
    }
    .container__block-left-buttons{
        width: 350px;
    }

    .container2{
        height: 700px;
    }
    .container2__block-left{
        transform: translateY(-100px);
    }
    .container2__block-left-txt-title{
        width: 300px;
        margin-left: 15px;
    }
    .container2__block-left-txt-descr{
        width: 300px;
        margin-left: 10px;
    }
    .container2__block-left-statistics1-number{
        width: 50px;
        height: 45px;
        margin-left: 10px;
    }
    .container2__block-left-statistics1-descr{
        width: 170px;
    }

    .container3__blocks-row1-item-icon{
        display: none;
    }
    .container3__blocks-row1-item-descr{
        width: 150px;
    }
    .container3__blocks-row1-item{
        padding-top: 10px;
        width: 160px;
    }

    .container4__block{
        width: 360px;
        transform: translateY(245px);
    }
    .container4__block-left-logo{
        display: none;
    }
    .container4__block-left-slider{
        display: none;
    }
}

@media (max-width:386px){
    .header__left{
        width: 340px;
    }

    .container{
        height: 600px;
    }
    .container__block-left-logos{
        display: none;
    }
    .container__block-left-title{
        font-size: 40px;
        padding-top: 60px;
    }
    .container__block-left-buttons{
        width: 300px;
    }
    .container__block-left-buttons-txt{
        display: none;
    }

    .container2__block-left-statistics1-descr{
        width: 140px;
    }
    .container2__block-left{
        margin-bottom: 0px;
        margin-top: 100px;
    }

    .container3__title{
        text-align: center;
    }
    .container3__blocks{
        width: 340px;
        margin: 0 auto;
    }
    .container3__blocks-row2{
        transform: translateX(-30px);
        width: 140px;
    }
    .container3__title{
        padding-top: 20px;
    }

    .container4__block{
        transform: translateY(250px);
        width: 340px;
    }
    .container4__block-left-title{
        font-size: 30px;
        width: 260;
    }
    .container4__block-left-descr{
        font-size: 28px;
        font-weight: 300;
        width: 250px;
    }

    .container5__title{
        width: 280px;
        font-size: 26px;
    }
    .container5__blocks{
        width: 200px;
    }

    .container6{
        height: 650px;
    }
    .container6__title{
        width: 340px;
        font-size: 30px;
    }
    .container6__descr{
        width: 300px;
        font-size: 17px;
    }
}