@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* .box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: aqua;
    transition: 0.3s;

    &:hover{
        padding: 40px;
    }

    &__title{
        font-size: 60px;
        text-transform: uppercase;
    }

    &__button{
        background-color: yellow;
    }
    &__container {
        width: 30px;
        height: 30px;
        background-color: antiquewhite;
    }
} */
.header:nth-child(2) {
  display: none;
}

.container {
  width: 100%;
  height: 688px;
  background: var(--base-bg-dark, #052825);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.container__block-left {
  max-width: 635px;
  height: 549px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
}
.container__block-left-title {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.16px;
  text-transform: capitalize;
  transform: translateX(-900px);
  animation: title 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.container__block-left-descr {
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.36px;
  transform: translateX(-1200px);
  animation: descr 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.container__block-left-buttons {
  max-width: 470px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateX(-1400px);
  animation: buttons 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.container__block-left-buttons-btn {
  border-radius: 1px;
  background: var(--global-primary, #2E4FD7);
  padding: 15px 25px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  box-shadow: 0px 0px 12px rgba(46, 80, 215, 0.8862745098);
  cursor: pointer;
  transition: 0.3s;
}
.container__block-left-buttons-btn:hover {
  padding: 13px 20px;
  box-shadow: 0px 0px 12px rgba(25, 25, 25, 0.8862745098);
  background-color: #1E1E1E;
}
.container__block-left-buttons-txt {
  width: 250px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}
.container__block-right {
  overflow: hidden;
}
.container__block-right-img {
  max-width: 460px;
  height: 548.807px;
  animation: img 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
.container__block-left-logos {
  transform: translateX(-1400px);
  animation: buttons 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes title {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes descr {
  0% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes buttons {
  0% {
    transform: translateX(-1400px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes img {
  0% {
    transform: translateX(1200px);
  }
  100% {
    transform: translateX(0);
  }
}
/* -------------------HEADER--------------- */
.header {
  max-width: 1300px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}
.header__left-nav {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__left-nav-link {
  color: var(--base-text-secondary, #1E1E1E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.8941176471);
  transition: 0.2s;
}
.header__left-nav-link:hover {
  transform: translateY(-5px);
}
.header__right-btn {
  padding: 5px 20px;
  border-radius: 1px;
  background: var(--global-primary, #2E4FD7);
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.25px;
  box-shadow: 0px 0px 12px rgba(46, 80, 215, 0.8862745098);
  cursor: pointer;
  transition: 0.2s;
}
.header__right-btn:hover {
  padding: 3px 15px;
  box-shadow: 0px 0px 12px rgba(25, 25, 25, 0.8862745098);
  background-color: #1E1E1E;
}

/* ----------------------CONTAINER2------------------------------- */
.container2 {
  width: 100%;
  height: 600px;
  background: var(--base-bg-dark, #052825);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.container2__block-left {
  max-width: 540px;
  height: 378px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.container2__block-left-txt-title {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.76px;
}
.container2__block-left-txt-descr {
  padding-top: 8px;
  color: var(--base-text-on-dark, #FFF);
  max-width: 540px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.36px;
}
.container2__block-left-statistics {
  padding-top: 36px;
  max-width: 488px;
  height: 162px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container2__block-left-statistics1-number {
  width: 118px;
  height: 82px;
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 82px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px; /* 113.889% */
  letter-spacing: -1.3px;
}
.container2__block-left-statistics1-descr {
  width: 203px;
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.289px;
}
.container2__block-right {
  position: relative;
}
.container2__block-right-img {
  max-width: 530px;
  height: 350px;
}
.container2__block-right-img-play {
  position: absolute;
  top: 38%;
  left: 44%;
}

/* --------------------------CONTAINER 3------------------------------------ */
.container3 {
  width: 100%;
  height: 700px;
  background: var(--base-bg-dark, #052825);
}
.container3__title {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  letter-spacing: -0.94px;
  max-width: 540px;
  padding-bottom: 68px;
  margin-left: 108px;
}
.container3__blocks-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: 108px;
}
.container3__blocks-row1-item {
  width: 255px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.container3__blocks-row1-item-icon {
  width: 40px;
  height: 40px;
  color: #FFF;
  animation: icons 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
}
.container3__blocks-row1-item-title {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  letter-spacing: -0.361px;
  padding-bottom: 7px;
  padding-top: 16px;
}
.container3__blocks-row1-item-descr {
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  width: 255px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.289px;
}
.container3__blocks-row2 {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin-left: 108px;
}

@keyframes icons {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
/* ------------------------------CONTAINER 4----------------------- */
.container4 {
  width: 100%;
  height: 750px;
  background: var(--base-bg-dark, #052825);
}
.container4__block {
  margin: 0 auto;
  max-width: 1110px;
  height: 600px;
  border-radius: 3px;
  background: var(--base-bg-secondary, #E7EBFC);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(60px);
}
.container4__block-left {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding-left: 45px;
}
.container4__block-left-title {
  max-width: 572px;
  color: var(--base-text-primary, #191919);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.76px;
}
.container4__block-left-descr {
  max-width: 588px;
  color: var(--base-text-secondary, #1E1E1E);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.76px;
}
.container4__block-left-logo-btn {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.container4__block-left-logo {
  width: 105px;
}
.container4__block-left-btn {
  color: var(--global-primary, #2E4FD7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}
.container4__block-left-slider {
  width: 26px;
}
.container4__block-right-img {
  width: 380px;
}

/* --------------------------CONTAINER 5------------------- */
.container5 {
  width: 100%;
  height: 500px;
  background: var(--base-bg-dark, #052825);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.container5__title {
  max-width: 730px;
  color: var(--base-text-on-dark, #FFF);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 123.81% */
  letter-spacing: -0.76px;
  margin-left: 108px;
}
.container5__blocks {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-left: 108px;
}
.container5__item-title {
  width: 255px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.43px;
}
.container5__item-descr {
  width: 255px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}

/* ------------------CONTAINER 6----------------------- */
.container6 {
  width: 100%;
  height: 600px;
  background: var(--base-bg-dark, #052825);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.container6__title {
  max-width: 920px;
  color: var(--base-text-on-dark, #FFF);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px; /* 119.231% */
  letter-spacing: -0.94px;
}
.container6__descr {
  max-width: 825px;
  color: var(--base-text-on-dark, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.32px;
}
.container6__btn {
  padding: 15px 25px;
  border-radius: 1px;
  background: var(--global-primary, #2E4FD7);
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  box-shadow: 0px 0px 12px rgba(46, 80, 215, 0.8862745098);
  cursor: pointer;
  transition: 0.2s;
}
.container6__btn:hover {
  padding: 13px 20px;
  box-shadow: 0px 0px 12px rgba(25, 25, 25, 0.8862745098);
  background-color: #191919;
}
.container6__line {
  max-width: 1110px;
  height: 2px;
  background: var(--base-boarder, #B4B4B4);
}
.container6__logos {
  width: 942px;
}

/* -----------------------------FOOTER------------------ */
.footer {
  width: 100%;
  height: 400px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #052825;
  /* -------------ROW---1----------------------- */
  /* ------------------ROW-----2---------- */
}
.footer__block-row1 {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__block-row1-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 180px;
}
.footer__block-row1-left-logo {
  color: var(--base-text-on-dark, #FFF);
  font-family: Leifa;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 100%; /* 24px */
}
.footer__block-row1-left-title {
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.32px;
}
.footer__block-row1-left-descr {
  max-width: 423px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}
.footer__block-row1-left-btn {
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
}
.footer__block-row1-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.footer__block-row1-right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  max-width: 530px;
}
.footer__block-row1-right-top-links {
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  transition: 0.3s;
  padding: 0 5px;
}
.footer__block-row1-right-top-links:hover {
  transform: translateY(-4px);
}
.footer__block-row1-right-bottom {
  max-width: 470px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__block-row1-right-bottom-links {
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.29px;
  cursor: pointer;
  transition: 0.2s;
  padding: 0 5px;
}
.footer__block-row1-right-bottom-links:hover {
  transform: translateY(-4px);
}
.footer__line {
  margin: 0 auto;
  max-width: 1170px;
  height: 1.4px;
  opacity: 0.08;
  background: var(--base-text-on-dark, #FFF);
}
.footer__block-row2 {
  max-width: 1370px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__block-row2-txt-left {
  max-width: 400px;
  color: var(--base-text-on-dark, #FFF);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.25px;
}
.footer__block-row2-txt-right {
  color: var(--base-text-on-dark, #FFF);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.25px;
  padding-left: 200px;
}

/* Стилі для дуже великих екранів (дисплей 1200рх і більше).
Записуються без медіа-запитів, тому що контрольна точка не має верхньої межі. */
/* Стилі для великих екранів (дисплей максимум 1199рх) */
@media (max-width: 1199px) {
  .container {
    padding: 0 20px;
  }
  .container2 {
    padding: 0 20px;
  }
}
/* ------------------------------------------------------------- */
@media (max-width: 1160px) {
  .container__block-right-img {
    display: none;
  }
  .container__block-left {
    display: flex;
    justify-content: space-around;
  }
  .container__block-left-buttons {
    width: 450px;
  }
  .container2__block-right-img {
    width: 350px;
  }
  .container3__title {
    margin-left: 20px;
  }
  .container3__blocks-row1 {
    margin-left: 20px;
  }
  .container3__blocks-row2 {
    margin-left: 20px;
  }
  .container4__block {
    width: 900px;
    margin-left: 30px;
  }
  .container4__block-right-img {
    display: none;
  }
  .container5__title {
    margin-left: 30px;
  }
  .container5__blocks {
    margin-left: 30px;
  }
  .container5__item-descr {
    width: 180px;
  }
  .container6 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }
  .container6__descr {
    margin-left: 40px;
  }
  .container6__btn {
    margin-left: 350px;
  }
  .container6__logos {
    margin-left: 80px;
    width: 700px;
  }
  .container6__line {
    display: none;
  }
  .footer__block-row1 {
    margin-left: 40px;
  }
  .footer__block-row1-right-bottom-links {
    padding: 0 5px;
  }
  .footer__block-row1-right-top-links {
    padding: 0 5px;
  }
  .footer__block-row2 {
    margin-left: 40px;
  }
  .footer__block-row2-txt-right {
    padding-left: 20px;
  }
}
/* Стилі для середніх екранів (дисплей максимум 991рх) */
@media (max-width: 991px) {
  .header__left-nav {
    padding-left: 20px;
  }
  .header__right {
    padding-right: 40px;
  }
  .container3__blocks-row1 {
    width: 670px;
  }
  .container3__blocks-row2 {
    width: 670px;
  }
  .container3__blocks-row1-item-descr {
    width: 200px;
  }
  .container4__block {
    width: 700px;
  }
  .container5__title {
    width: 620px;
    font-size: 38px;
  }
  .container5__blocks {
    width: 600px;
  }
  .container5__blocks-item {
    width: 200px;
  }
  .container5__item-title {
    width: 95px;
  }
  .container5__item-descr {
    width: 100px;
  }
  .container6__title {
    max-width: 700px;
    font-size: 40px;
  }
  .container6__descr {
    max-width: 550px;
    margin-left: 80px;
  }
  .container6__btn {
    margin-left: 260px;
  }
  .container6__logos {
    margin-left: 20px;
  }
  .footer__block-row1 {
    margin-left: 10px;
  }
  .footer__block-row2 {
    margin-left: 10px;
  }
  .footer__block-row1-left {
    width: 300px;
  }
}
/* Стилі для малих екранів (дисплей максимум 767рх) */
@media (max-width: 767px) {
  .container2__block-left {
    margin-left: 0px;
  }
  .container2__block-right {
    display: none;
  }
  .container3__blocks {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-70px);
  }
  .container3__blocks-row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .container3__blocks-row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .container3__blocks-row1-item-descr {
    width: 200px;
  }
  .container4__block {
    width: 620px;
    transform: translateY(140px);
    margin-left: 10px;
  }
  .container5__title {
    width: 550px;
  }
  .container5__item-icons {
    display: none;
  }
  .container5__blocks {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  .container5__item-descr {
    width: 120px;
  }
  .container6__title {
    width: 550px;
  }
  .container6__descr {
    margin-left: 0px;
  }
  .container6__btn {
    margin-left: 190px;
  }
  .container6__logos {
    display: none;
  }
  .footer__block-row1-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
  }
  .footer__block-row1-right-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
  }
  .footer__block-row1-right-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 6px;
  }
  .footer__block-row1-right-top-links:nth-child(5) {
    display: none;
  }
}
@media (max-width: 645px) {
  .container3__blocks {
    width: 500px;
  }
  .container4__block {
    width: 550px;
  }
  .container5__blocks {
    width: 500px;
    flex-wrap: wrap;
  }
  .container5__blocks-item {
    padding-top: 6px;
  }
  .container5__title {
    width: 500px;
  }
  .footer {
    height: 450px;
  }
  .footer__block-row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .footer__block-row1-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
  }
  .footer__block-row1-right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
  .footer__block-row1-right-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
  }
  .footer__block-row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
  }
  .footer__block-row2-txt-right {
    padding-top: 10px;
  }
}
@media (max-width: 617px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__left-nav {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header__left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
  }
  .header:nth-child(1) {
    display: none;
  }
  .header:nth-child(2) {
    display: block;
  }
  .header__right-btn {
    display: none;
  }
}
/* Стилі для дуже малих екранів (дисплей максимум 575рх) */
@media (max-width: 575px) {
  .container3__blocks-row1-item {
    width: 200px;
  }
  .container3__blocks {
    display: flex;
    flex-direction: row;
    width: 280px;
  }
  .container4__block {
    width: 520px;
    margin: 0px auto;
    transform: translateY(180px);
  }
  .container5__title {
    width: 320px;
    font-size: 25px;
    padding-top: 170px;
  }
  .container5__blocks {
    width: 340px;
  }
  .container5__blocks-item:nth-child(4) {
    display: none;
  }
  .container6 {
    height: 600px;
  }
  .container6__title {
    margin: 50px auto;
    width: 360px;
    font-size: 25px;
    padding-top: 80px;
  }
  .container6__descr {
    font-size: 16px;
    width: 350px;
    margin: 0 auto;
  }
  .container6__btn {
    margin: 0 auto;
  }
  .footer__block-row1-right-top {
    width: 310px;
  }
  .footer__block-row1-right-top-links:nth-child(5) {
    display: none;
  }
  .footer__block-row1-right-top-links:nth-child(4) {
    display: none;
  }
  .footer__block-row1-right-bottom {
    width: 310px;
  }
  .footer__block-row1-right-bottom-links:nth-child(5) {
    display: none;
  }
}
@media (max-width: 411px) {
  .header__left {
    width: 350px;
  }
  .container__block-left {
    height: 700px;
  }
  .container__block-left-buttons {
    width: 350px;
  }
  .container2 {
    height: 700px;
  }
  .container2__block-left {
    transform: translateY(-100px);
  }
  .container2__block-left-txt-title {
    width: 300px;
    margin-left: 15px;
  }
  .container2__block-left-txt-descr {
    width: 300px;
    margin-left: 10px;
  }
  .container2__block-left-statistics1-number {
    width: 50px;
    height: 45px;
    margin-left: 10px;
  }
  .container2__block-left-statistics1-descr {
    width: 170px;
  }
  .container3__blocks-row1-item-icon {
    display: none;
  }
  .container3__blocks-row1-item-descr {
    width: 150px;
  }
  .container3__blocks-row1-item {
    padding-top: 10px;
    width: 160px;
  }
  .container4__block {
    width: 380px;
  }
  .container4__block-left-logo {
    display: none;
  }
  .container4__block-left-slider {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */